pkgbase = visual-studio-code-insiders
	pkgdesc = Editor for building and debugging modern web and cloud applications (insiders version)
	pkgver = 1.77.0_insider+1679607780
	pkgrel = 1
	url = https://code.visualstudio.com/
	arch = x86_64
	license = custom: commercial
	depends = libxkbfile
	depends = gnupg
	depends = gtk3
	depends = libsecret
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc
	depends = lsof
	optdepends = glib2: Needed for move to trash functionality
	optdepends = libdbusmenu-glib: Needed for KDE global menu
	source_x86_64 = code_insider_x64_1679607780.tar.gz::https://update.code.visualstudio.com/latest/linux-x64/insider
	source_x86_64 = visual-studio-code-insiders.desktop
	source_x86_64 = visual-studio-code-insiders-url-handler.desktop
	source_x86_64 = visual-studio-code-insiders-bin.sh
	sha256sums_x86_64 = 9ab8d9dfed45765be68d01950fac163c756c106e38a83a04487e5e97a892b6b5
	sha256sums_x86_64 = 9ebe80f2fe463a82747bf39013ff3406054707f01a503e9545a6f6556a36b0de
	sha256sums_x86_64 = dc854ca319cad429ddc13b6d0646d295d249d82fab4f565ae63eec13d572c049
	sha256sums_x86_64 = 67d83f676135ca14806aab7292361a4a737f3076527860258176c886cdb3f0c1

pkgname = visual-studio-code-insiders
